body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bigTime {
    color: rgb(212, 211, 211);
    text-align:center;
    font-size: 100px;
    font-weight: 800;
    margin: auto;
}

.dial {
    color: #f8bf22;
    text-align:center;
    font-size: 50px;
    font-weight: 800;
}

.d1 {
    width: 300px; 
    height: 300px;
    
    background: radial-gradient( #fdfdfd 100px, #e0e3e6,#f2f5f8);
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    
    position: absolute;
    align-items: center;
    left: 50%;
    margin-left: -150px;
}

#restart {
    width: 50px; 
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: radial-gradient( #e99a07, #c09403, #eebf25);
    border-radius: 50%;
    border: 0px;
    cursor: pointer;
    text-align: center;

    position: absolute; 
    left: 50%;
    margin-left: -25px;
    margin-top: 300px;
}

#starts{
    width: 350px; 
    height: 50px;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    background: #e99a07;
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    
    align-items: center;
    position: absolute;
    top: 600px; 
    left: auto;
    
    border: 0px;
    cursor: pointer;
}

#starts:hover{
    color: rgb(0, 0, 0);
}

#restart:hover{
    color: rgb(0, 0, 0);
    box-shadow: inset 0 0 0 2px #3a7999;
}
